DATABASE_URL=postgresql://postgres:postgres@postgres:5432/llm_logger
REDIS_URL=redis://redis:6379
INGESTION_URL=http://ingestion:3001

GROQ_API_KEY=
GOOGLE_GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

NODE_ENV=development
